.app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title,
.content {
  width: 100vw;
  display: flex;
}

.title {
  min-width: 100%;
  min-height: 36px;
  position: absolute;
  background-color: #f9f9f9;
  border-bottom: 1px #d9d9d9 solid;
  display: flex;
  flex-direction: row;
  z-index: 9999;
  -webapp-user-select: none;
  -webkit-app-region: drag;
}

.content {
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 9998;
}

.sidebar,
.main {
  bottom: 0;
  position: absolute;
}

.sidebar {
  padding: 56px 20px 20px;
  min-width: 220px;
  flex: 0 220px;
  top: 0;
  background-color: #f9f9f9;
  border-right: 1px #d9d9d9 solid;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  overflow-y: scroll;
  flex: 1;
  left: 220px;
  top: 36px;
}
